Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3

In [5]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a two-dimensional, tabular data structure with rows and columns. It is similar to a spreadsheet or a table in a relational database. The DataFrame has three main components: the data, which is stored in rows and columns; the rows, which are labeled by an index; and the columns, which are labeled and contain the actual data.

On the other hand, a Pandas Series is a one-dimensional array-like object that can hold data of any type (integer, float, string, etc.). It is labelled, meaning each element has a unique identifier called an index. You can think of a Series as a column in a spreadsheet or a single column of a database table.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

.iloc[]: Selects rows and columns by position (e.g., integer indices). This is useful when you know the exact row or column number you want.

.head(): Returns the first n rows of the DataFrame. This is handy for getting a quick glimpse at the beginning of your data.

.tail(): Returns the last n rows of the DataFrame. Useful for checking the end of your data for any irregularities.

.drop(): Removes rows or columns based on labels or positions. You might use this to remove rows with missing values or columns that are not relevant to your analysis.

.append(): Vertically stacks DataFrames. This is useful for combining multiple DataFrames with similar structures.

.concat(): Similar to .append(), but offers more flexibility for combining DataFrames.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 DataFrame and Panel are mutable in nature.

Series: While Series allows modifying its values, its size (number of elements) is fixed. You cannot add or remove elements from a Series.

DataFrame: DataFrames allow changes to both values and their structure. You can add, remove, or modify columns, and modify existing values within the DataFrame.

Panel: Similar to DataFrames, Panels (a less commonly used structure) are also mutable. You can add, remove, or modify the contained DataFrames within the Panel.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female